@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --sixty: #EFEFEF;
    --thirty: #0A3454;
    --ten: #FF7F50;
    --text_color: #565656;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.side-navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 260px;
    background-color: var(--sixty);
    padding: 80px 50px;
}

.side-navbar span {
    margin-right: 10px;
}

.side-navbar ul {
    margin-top: 70px;
}

.side-navbar ul li a {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: var(--thirty);
    font-weight: 600;
}

.side-navbar li a:hover {
    color: var(--ten);
}

.side-navbar .active {
    color: var(--ten);
}

.main-content,
.navbar {
    margin-left: 260px;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar .header {
    height: 65px;
    background-color: var(--sixty);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logoImage {
    width: 90px;
    position: absolute;
    margin-left: 50px;
    top: 0;
    left: -22%;
}

.header .admin-text {
    display: flex;
    align-items: center;
    margin-right: 50px;
    font-weight: 700;
    color: var(--thirty);
}

.header .admin-text p {
    padding-right: 20px;
}

.header .admin-text .avatar {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 5%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: var(--thirty);
}

.dropdown-menu a:hover {
    color: var(--ten);
}

/* ========== CSS FOR SEARCH BOX STARTS HERE ========== */

.search-container {
    position: relative;
    display: inline-block;
}

.search-input {
    font-family: 'Open Sans', sans-serif;
    padding: 10px 80px 10px 20px;
    border: 1px solid var(--thirty);
    background: transparent;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    width: 300px;
    z-index: -1;
    font-size: 14px;
    font-weight: 600;
}

.search-input:focus {
    border: 1px solid var(--ten);
}

.search-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: var(--thirty);
    color: #fff;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 0 50px 50px 0;
    font-size: 16px;
}

.search-button i {
    font-size: 20px;
}

.search-button:hover {
    background-color: var(--ten);
}

.clear-button {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.clear-button img {
    width: 16px;
    height: 16px;
}

/* ========== CSS FOR SEARCH BOX ENDS HERE ========== */


.main-content .container {
    margin-top: 30px;
    padding: 0 20px;
    min-height: calc(100vh - 30px);
}

.stat-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background-color: var(--thirty);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    line-height: 2;
}

.card i {
    font-size: 24px;
    margin-bottom: 30px;
}

.card:last-child {
    /* background: linear-gradient(to right, #0A3454 60%, #FF7F50); */
    background: linear-gradient(to bottom right, #0A3454 30%, #FF7F50);
}


/* ========== CSS FOR DASHBOARD PAGE ENDS HERE ========== */


/* ========== CSS FOR EVENTS PAGE STARTS HERE ========== */

.add-event a {
    float: left;
    margin: 0 5px 10px;
    background-color: #2dc42d;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: 700;
}

.add-feature button {
    font-family: 'Open Sans', sans-serif;
    float: left;
    margin-left: 10px;
    background-color: #2dc42d;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.main-content table {
    /* border-collapse: separate;
    width: 100%;
    border-radius: 10px;
    border: none; */

    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin: 0 auto 100px;
    border-radius: 10px;
    overflow: hidden;
}

.main-content table th {
    padding: 10px 20px;
    color: #666464;
    background-color: var(--thirty);
    color: #fff;
}

.main-content table td {
    padding: 10px 20px;
    text-align: center;
    color: #666464;
}

.buttons {
    display: flex;
}

.buttons a {
    margin: 0 5px;
    background-color: #2dc42d;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: 600;
}

.buttons a:last-child {
    background-color: #f53e3e;
}

.main-content table tr:nth-child(odd) {
    background-color: var(--sixty);
}

/* .main-content table tr:hover{
    background-color: var(--ten);
    cursor: pointer;
} */


/* ===== CSS FOR TOGGLE BUTTON ===== */
.toggle-btn input {
    display: none;
}

.toggle-btn label {
    position: relative;
    display: block;
    width: 45px;
    height: 20px;
    background-color: #c5bdbd;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 200ms linear;
}

.toggle-btn label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #fff;
    transition: left 200ms linear;
}

.toggle-btn input:checked+label {
    background-color: var(--thirty);
}

.toggle-btn input:checked+label::before {
    left: 27px;
}

/* ========== CSS FOR EVENTS PAGE ENDS HERE ========== */


/* ========== CSS FOR DELETE PAGE STARTS HERE ========== */
.main-content .delete-form {
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.main-content .delete-form p {
    margin-bottom: 10px;
}

.delete-buttons {
    display: flex;
    gap: 10px;
}

.delete-buttons a,
.delete-buttons input[type="submit"] {
    padding: 10px 30px;
    background-color: #f44336;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-buttons a {
    text-decoration: none;
    background-color: #2dc42d;
}

.delete-buttons button a {
    color: #fff;
    text-decoration: none;
}

/* ========== CSS FOR DELETE PAGE ENDS HERE ========== */



/* ========== CSS FOR LOGIN PAGE STARTS HERE ========== */
.form-body {
    display: grid;
    place-items: center;
    height: 100vh;
}

.wrapper {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}

.row label {
    color: var(--thirty);
}

.wrapper label {
    display: block;
    font-weight: 700;
}

.wrapper input {
    padding: 0 10px;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border: 1.5px solid var(--thirty);
    font-family: 'Open Sans', sans-serif;

}

.wrapper h1 {
    color: var(--thirty);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.wrapper p {
    text-align: center;
    color: red;
    margin-bottom: 20px;
}

.wrapper .checkbox-row {
    font-size: small;
    color: #565656;
    display: flex;
    justify-content: space-between;
}

.wrapper .remember {
    display: flex;
}

.wrapper .remember input {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.wrapper .login-submit {
    display: flex;
    margin: 0 auto;
    color: #fff;
    background-color: var(--thirty);
    padding: 8px 12px;
    border-radius: 3px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
}

.wrapper .login-submit:hover {
    background-color: #fff;
    border: 1px solid var(--thirty);
    color: var(--thirty);
    border-color: var(--thirty);
}

.wrapper .checkbox-row a {
    color: var(--thirty);
}

/* ========== CSS FOR LOGIN PAGE ENDS HERE ========== */



/* ========== CSS FOR ADD EVENT PAGE STARTS HERE ========== */

.container .event-form {
    margin: 50px auto;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.25);
    width: 600px;
    padding: 20px;
    border-radius: 10px;
}

.event-form h1 {
    text-align: center;
    color: var(--thirty);
}

.event-form form {
    margin-top: 20px;
}

.event-form .feature-and-desc {
    background-color: var(--sixty);
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
}

.event-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.event-form .form-group label {
    color: var(--thirty);
    font-weight: 600;
}

.event-form .form-group input,
.event-form .form-group textarea {
    border-radius: 5px;
    border: 1px solid var(--thirty);
    height: 35px;
    outline: none;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
}

.event-form .form-group textarea {
    height: 100px;
    resize: none;
}

.event-form .form-group input:focus,
.event-form .form-group textarea:focus {
    border: 1px solid var(--ten);
}

.btn {
    background-color: var(--thirty);
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid transparent;
    font-family: 'Open Sans', sans-serif;
}

.btn:hover {
    background-color: #fff;
    border-color: var(--thirty);
    color: var(--thirty);
}

/* ========== CSS FOR ADD EVENT PAGE ENDS HERE ========== */



/* ========== CSS FOR ADD FEATURES PAGE STARTS HERE ========== */

.add-feature .dropdown-package {
    /* position: absolute;
    top: 100%;
    right: 5%; */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: none;
}

.add-feature .dropdown-package.show {
    display: block;
}

.add-feature .dropdown-package a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: var(--thirty);
}

.add-feature .dropdown-package a:hover {
    color: var(--ten);
}

.feature-and-desc textarea {
    border: none !important;
}

.add-feature-form button {
    margin: 10px 0;
}

.add-feature-form button:last-child {
    display: block;
    margin: 0 auto;
}

/* ========== CSS FOR ADD FEATURES PAGE ENDS HERE ========== */


/* ========== CSS FOR MESSAGE DETAILS PAGE STARTS HERE ========== */

.messages {
    border-radius: 10px;
    padding: 20px;
}

.messages h2 {
    text-align: center;
    color: var(--thirty);
    margin-bottom: 30px;
}

.message-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4%;
    line-height: 1.5;
}

.message-card {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--sixty);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    margin-bottom: 20px;
}

.message-card b {
    color: var(--thirty);
}

.message-card .msg {
    margin-top: 10px;
    background-color: #556080;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    flex-grow: 1;
}

.delete-btn {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #f53e3e;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    padding: 5px 10px;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease-in-out;
}

.delete-btn a {
    color: #fff;
}

.overlay {
    background-color: rgba(255, 127, 80, 0.4);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

.message-card:hover .delete-btn,
.message-card:hover .overlay {
    opacity: 1;
    display: block;
}

/* ========== CSS FOR MESSAGE DETAILS PAGE ENDS HERE ========== */