/* =============== ALL GENERAL CSS =============== */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --sixty: #EFEFEF;
    --thirty: #0A3454;
    --ten: #FF7F50;
    --text_color: #565656;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    background-color: var(--thirty);
    color: #fff !important;
    font-size: 16px;
    font-weight: 700;
    border-radius: 3px;
    padding: 8px 15px;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    border-color: var(--thirty);
    color: var(--thirty) !important;
}


.container {
    max-width: 1140px;
    margin: 0 auto 40px;
}

.title {
    color: var(--thirty);
    font-size: 24px;
    text-align: center;
}

.title h1 {
    font-size: 30px;
}

.card,
.card-reverse {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    background-color: var(--sixty);
    margin-bottom: 40px;
}

.column-1 img {
    width: 570px;
    height: 400px;
    border-radius: 10px 0 0 10px;
}

.column-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.column-2 h1 {
    color: var(--thirty);
    margin-bottom: 10px;
}

.column-2 p {
    color: var(--text_color);
    margin-bottom: 10px;
    padding: 0 40px;
}

.card-reverse-column-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-reverse-column-1 h1 {
    color: var(--thirty);
    margin-bottom: 10px;
}

.card-reverse-column-1 p {
    color: var(--text_color);
    margin-bottom: 10px;
    padding: 0 40px;
}

.card-reverse-column-2 img {
    border-radius: 0 10px 10px 0;
    width: 570px;
    height: 400px;
}

/* =============== END ALL GENERAL CSS =============== */

/* =============== CSS FOR HEADER PAGE =============== */
/* =============== CSS FOR HEADER PAGE STARTS FROM HERE =============== */

.header {
    margin: 0 50px;
    height: 65px;
    display: flex;
    align-items: center;
    font-size: 17px;
}

.logo {
    position: relative;
    top: 33%;
    float: left;
    margin-right: 20px;
}

.logo img {
    width: 90px;
}

.menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container ul {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.menu-container ul li {
    display: inline-block;
    margin-right: 30px;
}

.number {
    border-right: 2px solid var(--thirty);
    padding: 5px;
}

.contact-container ul {
    position: absolute;
    right: 4%;
    top: 3%;
    display: flex;
    align-items: center;

}

.contact-container ul li {
    display: inline-block;
    margin-left: 10px;
}

.menu-container li a {
    color: var(--thirty);
    font-weight: 500;
    position: relative;
}

.menu-container li .active::before,
.menu-container li a::before {
    content: "";
    position: absolute;
    width: 0;
    bottom: -3px;
    left: 50%;
    height: 2px;
    background-color: var(--thirty);
    transition: width 0.3s ease, left 0.3s ease;
}

.menu-container li .active::before,
.menu-container li a:hover::before {
    width: 100%;
    left: 0;
}

.menu-container li .active,
.menu-container li a:hover {
    color: var(--ten);
}

.contact-container li a {
    color: var(--thirty);
    font-weight: 600;
}

.contact-container li a:hover {
    color: var(--ten);
}

.contact-container i {
    font-size: 22px;
}

/* =============== END CSS FOR HEADER PAGE =============== */
/* =============== CSS FOR HEADER PAGE ENDS HERE =============== */



/* =============== CSS FOR FOOTER PAGE =============== */
/* =============== CSS FOR FOOTER PAGE STARTS FROM HERE =============== */
.footer {
    background-color: var(--sixty);
    padding: 20px 0;
    color: var(--thirty);
    line-height: 1.5;
}

#footer {
    display: flex;
    justify-content: space-between;
}

.title-footer {
    position: relative;
    font-weight: 700;
    margin-bottom: 10px;
}

.title-footer::after {
    position: absolute;
    content: "";
    height: 5px;
    background-color: var(--thirty);
    width: 100px;
    left: 0%;
    top: 100%;
    margin-bottom: 10px;
}

.footer-column li a {
    color: var(--thirty);
}

.footer-column li a:hover {
    color: var(--ten);
}

.footer-column input {
    border: 1px solid var(--thirty);
    border-radius: 3px;
    width: 200px;
    height: 30px;
    outline: none;
    padding: 0 5px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--sixty);
}

.footer-column input:focus {
    border: 1px solid var(--ten);
}

.footer-column .btn-small {
    background-color: var(--thirty);
    border: none;
    margin: 5px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid transparent;
}

.footer-column .btn-small:hover {
    background-color: #fff;
    border: 1px solid var(--thirty);
    color: var(--thirty);
    border-color: var(--thirty);
}

.footer-column .social-links li {
    display: inline-block;
    margin: 2px;
    margin-top: 30px;
}

hr {
    margin: 30px 0 10px;
    border-color: var(--thirty);
}

.copyright {
    text-align: center;
}

.copyright a {
    color: var(--ten);
}

.social-links i {
    font-size: 24px;
}

/* =============== END CSS FOR FOOTER PAGE =============== */
/* =============== CSS FOR FOOTER PAGE ENDS FROM HERE =============== */




/* =============== CSS FOR INDEX PAGE =============== */
/* =============== CSS FOR INDEX PAGE STARTS FROM HERE =============== */


/*=============== BANNER PART ===============*/

.banner {
    position: relative;
    z-index: -1;
}

.banner img {
    display: block;
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.banner-text h4 {
    font-size: 20px;
}

.banner-text h1 {
    font-size: 48px;
    font-family: 'Clash Display';
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    /* text-stroke: 2px #fff; */
}

.banner-text .btn {
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
}

/* ----- BANNER CAROUSEL ----- */
.banner-carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.banner-container {
    display: flex;
    transition: transform 0.5s ease;
}

.banner {
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
}

.banner img {
    width: 100%;
    height: 700px;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.carousel-next {
    right: 0;
}

/* ----- END BANNER CAROUSEL ----- */

/*=============== END BANNER PART ===============*/


/*=============== INTRODUCTION PART ===============*/
.introduction {
    margin: 40px 0;
    text-align: center;
}

.introduction h1 {
    font-size: 30px;
    color: var(--thirty);
}

.introduction p {
    font-size: 18px;
    color: var(--text_color);
}

/*=============== END INTRODUCTION PART ===============*/


/* =============== MID BANNER =============== */
.mid-banner {
    position: relative;
    z-index: -1;
}

.mid-banner img {
    display: block;
    width: 100%;
    height: auto;
}

.mid-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.mid-banner-text h4 {
    font-size: 20px;
}

.mid-banner-text h1 {
    font-size: 48px;
    font-family: 'Clash Display';
}

.mid-banner-text .btn {
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
}

/* ===============END MID BANNER =============== */


/*=============== OFFER PART ===============*/
.offer {
    margin: 20px 0;
    display: flex;
    align-items: center;
    color: var(--thirty);
}

.offer img {
    margin-right: 10px;
}

/*=============== END OFFER PART ===============*/


/*========== PACKAGES ==========*/
.column img {
    width: 670px;
    height: auto;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 10px;
    /* gap: 10px; */
}

.image-grid a {
    display: inline-block;
}

.image-grid a .image-overlay {
    position: relative;
}

.image-grid a .image-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    transition: opacity 0.3s;
}

.image-grid a:hover .image-overlay::before {
    opacity: 1;
}

.image-grid a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid a .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--thirty);
    font-size: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-grid a:hover .overlay-text {
    opacity: 1;
}

.packages .button {
    text-align: center;
}

/*========== END PACKAGES ==========*/

/* =============== END CSS FOR INDEX PAGE =============== */
/* =============== CSS FOR INDEX PAGE ENDS HERE =============== */


/* =============== CSS FOR EVENTS PAGE =============== */
/* =============== CSS FOR EVENTS PAGE STARTS HERE =============== */

.exclude {
    border-radius: 10px;
}

.custom-event {
    margin-bottom: 20px;
}

/* =============== END CSS FOR EVENTS PAGE =============== */
/* =============== CSS FOR EVENTS PAGE ENDS HERE =============== */

/* =============== CSS FOR GALLERY PAGE =============== */
/* =============== CSS FOR GALLERY PAGE STARTS HERE =============== */
.intro {
    background-color: var(--sixty) !important;
    padding: 10px;
    margin-bottom: 40px;
}

.sub-menu-list {
    display: flex;
    justify-content: center;
}

.sub-menu-list .menu-container ul li {
    margin: 0 40px;
}

.sub-menu-list .menu-container ul li a {
    font-weight: 600;
}

.grid-item img {
    width: 366.66px;
    height: 250px;
    border-radius: 10px;
}

.grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.grid-container>* {
    grid-row-gap: 20px;
}


/* =============== END CSS FOR GALLERY PAGE =============== */
/* =============== CSS FOR GALLERY PAGE ENDS HERE =============== */


/* =============== CSS FOR CONTACT US PAGE =============== */
/* =============== CSS FOR CONTACT US PAGE STARTS HERE =============== */
.banner {
    margin-bottom: 40px;
}

.contact-details {
    padding: 20px;
}

.contact-details h1 {
    font-size: 22px;
    font-weight: 700;
    color: var(--thirty);
}

.contact-details p {
    color: var(--text_color);
    font-size: 16px;
}

.contact-info {
    margin-top: 30px;
    line-height: 1.8;
}

.contact {
    align-items: center;
    border-radius: 0px;
    height: 500px;
}

.contact .column-1 {
    width: 570px;
    padding: 0 50px;
}

.column-1 p {
    font-size: 14px;
}

.map {
    border: 2px solid var(--thirty);
}

.fields {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

.fields input {
    margin: 5px 0;
    height: 30px;
    border: 1px solid var(--thirty);
    border-radius: 5px;
    outline: none;
    padding: 0 5px;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
}

.fields textarea {
    margin: 5px 0;
    border: 1px solid var(--thirty);
    border-radius: 5px;
    outline: none;
    padding: 0 5px;
    background: transparent;
    color: #565656;
    font-family: 'Open Sans', sans-serif;
    resize: none;
}

.fields input:focus {
    border: 1px solid var(--ten);
}

.fields textarea:focus {
    border: 1px solid var(--ten);
}

.contact form .btn {
    border: none;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.contact h3,
.contact p {
    text-align: center;
}

/* =============== END CSS FOR CONTACT US PAGE =============== */
/* =============== CSS FOR CONTACT US PAGE ENDS HERE =============== */


/* =============== START CSS FOR PACKAGE-DETAIL PAGE =============== */
/* =============== CSS FOR PACKAGE-DETAIL PAGE STARTS HERE =============== */

.package-card {
    background-color: var(--sixty);
    margin-bottom: 40px;
}

.package-card .image-div {
    max-width: 100vw;
    height: 500px;
}

.package-card .image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.package-card .text {
    padding: 40px;
    color: var(--thirty);
}

.package-card .text p {
    margin-bottom: 30px;
}

.package-detail {
    display: grid;
    grid-template-columns: 60% 40%;
}

.package-detail .left,
.package-detail .right {
    padding: 0 20px;
}

.package-detail h3 {
    color: var(--thirty);
    margin-left: -20px
}

.package-detail .left .feature {
    margin: 25px 0;
}

.feature h4 {
    color: var(--thirty);
}

.feature h4::before {
    content: "\2022";
    /* Unicode character for bullet point */
    display: inline-block;
    width: 20px;
    margin-left: -20px;
}

.feature p {
    margin-top: 5px;
    font-style: italic;
    color: var(--text_color);
}

.package-detail .right table {
    margin-top: 50px;
    border: 1px solid rgb(172, 169, 169);
    border-collapse: collapse;
}

.right table th,
.right table td {
    padding: 20px;
    font-size: 14px;
    text-align: center;
}

.right table th {
    color: var(--thirty);
}

.right table td {
    color: var(--text_color);
}

.right tr:nth-child(even) {
    background-color: var(--sixty);
}

/* =============== END CSS FOR PACKAGE-DETAIL PAGE =============== */
/* =============== CSS FOR PACKAGE-DETAIL PAGE ENDS HERE =============== */




/* =============== START CSS FOR EVENT-DETAIL PAGE =============== */
/* =============== CSS FOR EVENT-DETAIL PAGE ENDS HERE =============== */

/* .event-detail .box{
    width: 700px;
} */

.event-detail .event-price-info {
    width: 100%;
    background-color: var(--sixty);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.event-detail .event-price-info h3 {
    color: var(--thirty);
    margin-bottom: 10px;
}

.event-detail .event-price-info .row {
    margin-bottom: 10px;
    padding: 10px 0;
}

/* .event-detail .event-price-info .row:last-child{
    border-top: 1px solid var(--thirty);
} */

.event-detail .event-price-info .row p:first-child {
    font-weight: 600;
    color: var(--thirty);
}

.event-detail .event-price-info .row p:last-child {
    font-weight: 500;
    color: var(--text_color);
}

.event-detail .event-price-info .field {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
}

.event-detail .other-info {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
    width: 100%;
    background-color: var(--sixty);
    padding: 20px;
    border-radius: 5px;
    margin: 50px 0;
}

.event-detail .other-info li {
    position: relative;
    padding-left: 40px;
    list-style: none;
    margin: 20px 0;
    font-size: 20px;
    color: var(--text_color);
}

.event-detail .other-info .checked::before,
.event-detail .other-info .unchecked::before {
    display: inline-block;
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
}

.event-detail .other-info .checked::before {
    background: url(../assets/images/checked.png) no-repeat;
    background-size: cover;
}

.event-detail .other-info .unchecked::before {
    background: url(../assets/images/uncheck.png) no-repeat;
    background-size: cover;
}

/* =============== END CSS FOR EVENT-DETAIL PAGE =============== */
/* =============== CSS FOR EVENT-DETAIL PAGE ENDS HERE =============== */


/* =============== CSS FOR RESERVATION FORM STARTS HERE =============== */

.reservation-form {
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: var(--sixty);
    margin: 20px auto;
    width: 600px;
    padding: 20px 50px;
}

.reservation-form a img {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 5%;
    margin-bottom: 10px;
}

.reservation-form h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 40px 0 20px;
    color: var(--thirty);
}

.reservation-form .row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.reservation-form .row label {
    color: var(--thirty);
    font-weight: 600
}

.reservation-form .row input,
.reservation-form .row textarea {
    border: 1px solid var(--thirty);
    border-radius: 5px;
    outline: none;
    height: 35px;
    background: transparent;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
}

.reservation-form .row textarea {
    height: 200px;
    padding-top: 5px;
}

.reservation-form .row input:focus,
.reservation-form .row textarea:focus {
    border: 1px solid var(--ten);
}

.reservation-form input[type=submit] {
    display: block;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.reservation-form input[type=submit]:hover {
    background-color: #fff;
    border-color: var(--thirty);
    color: var(--thirty) !important;
}




/* =============== CSS FOR RESERVATION FORM ENDS HERE =============== */